
<div class="flex items-center justify-center min-h-screen">
    
    <p-card>
        
        <div class="w-[360px] mx-auto mb-10">
            <div class="flex justify-center">
                <img src="./ucniacare/assets/logos/ucniacare_logo_blue_transparent.png" alt="UCNIACARE" class="w-48 h-48">
            </div>
            <h1 class="text-2xl sm:text-1xl md:text-1xl text-balance text-center mb-6" (click)="addUserForTesting()">{{ header() }}</h1>
            <div *ngIf="loginErrorMessage()" class="mb-6">
                <p-message severity="error">{{ loginErrorMessage() }}</p-message>
            </div>
            <div *ngIf="pageState() === 'login'">
                <form [formGroup]="loginForm">
                    <p-floatlabel variant="on">
                        <input pInputText id="idNumber" formControlName="idNumber" autocomplete="off" class="w-full" />
                        <label for="idNumber">ID Number</label>
                    </p-floatlabel>
                    <!-- <p-floatlabel variant="on" class="mt-4">
                        <input type="password" pInputText id="password" formControlName="password" autocomplete="off" class="w-full" />
                        <label for="password">Password</label>
                    </p-floatlabel> -->

                    <p-floatlabel variant="on" class="mt-4">
                        <p-password formControlName="password" inputId="on_label" class="w-full" [toggleMask]="true" [feedback]="false" fluid/>
                        <label for="password">Password</label>
                    </p-floatlabel>

                    <div class="mt-1 flex justify-end">
                        <p-button (click)="setForgotPasswordState()" label="Forgot Password?" link />
                    </div>
                    <div class="mt-2">
                        <p-button type="submit" label="Login" (click)="login()" severity="info" class="w-full max-w-[17.35rem]" styleClass="w-full mx-auto" [disabled]="disableLoginButton()" />
                        </div>  
                </form>
            </div>

            <div *ngIf="pageState() === 'forgotPassword'">
                <div *ngIf="!isOTPSent()">
                    <form [formGroup]="forgotPasswordForm">
                        <p class="text-center mb-6 text-gray-600">Enter your email address and we'll send you a code to reset your password.</p>
                        <p-floatlabel variant="on">
                            <input type="email" pInputText id="email" formControlName="email" autocomplete="off" class="w-full" />
                            <label for="email">Email</label>
                        </p-floatlabel>
    
                        <div class="mt-4">
                            <p-button type="submit" label="Send" (click)="forgotPassword()" severity="info" class="w-full max-w-[17.35rem]" styleClass="w-full mx-auto" [disabled]="disableForgotPasswordButton()" />
                        </div> 
                        <div class="mt-2 flex justify-center">
                            <p-button (click)="setLoginState()" label="Back to Login" link />
                        </div> 
                    </form>
                </div>
                <div *ngIf="isOTPSent()">
                    <p class="text-center mb-6 text-gray-600">Please enter the code sent to your email.</p>
                    <div class="card flex justify-center">
                        <p-inputotp [ngModel]="otp()" (ngModelChange)="otp.set($event)" [integerOnly]="true" size="large" />
                    </div>
                    <div class="mt-6">
                        <p-button type="submit" label="Verify" (click)="verifyOTP()" severity="info" class="w-full max-w-[17.35rem]" styleClass="w-full mx-auto" [disabled]="otp().length !== 4" />
                    </div> 
                    <div class="mt-2 flex justify-center">
                        <p-button (click)="resendOTP()" label="Resend Code" link [disabled]="isLoading()" />
                    </div> 
                </div>
                
            </div>
        </div>
    </p-card>
</div>

