
<div class="flex items-center justify-center min-h-screen">
    
    <p-card>
        
        <div class="w-[360px] mx-auto mb-10">
            <div class="flex justify-center">
                <img src="./ucniacare/assets/logos/ucniacare_logo_blue_transparent.png" alt="UCNIACARE" class="w-48 h-48">
            </div>
            <h1 class="text-2xl sm:text-1xl md:text-1xl text-balance text-center mb-6">Login to your account</h1>
            <div *ngIf="loginErrorMessage()" class="mb-6">
                <p-message severity="error">{{ loginErrorMessage() }}</p-message>
            </div>

            <p-floatlabel variant="on">
                <input pInputText id="on_label" [(ngModel)]="idNumber" autocomplete="off" class="w-full" />
                <label for="on_label">ID Number</label>
            </p-floatlabel>
            <p-floatlabel variant="on" class="mt-4">
                <input type="password" pInputText id="on_label" [(ngModel)]="password" autocomplete="off" class="w-full" />
                <label for="on_label">Password</label>
            </p-floatlabel>
            <div class="mt-1 flex justify-end">
                <p-button label="Forgot Password?" link />
            </div>
            
            <div class="mt-2">
                <p-button label="Login" (click)="login()" severity="info" class="w-full max-w-[17.35rem]" styleClass="w-full mx-auto" [disabled]="disableLoginButton()" />
            </div>
        </div>
    </p-card>
</div>

