<div class="card">
    
    <p-menu [model]="items" class="flex" styleClass="w-[320px] h-[100vh]">
        <ng-template #start>
            <span class="flex items-center justify-center w-full gap-1 px-2 py-2 mt-8">
                <img src="./ucniacare/assets/logos/ucniacare_logo_blue_transparent.png" alt="UCNIACARE" class="w-48 h-48">
                <!-- <span class="text-xl font-semibold">UCNIACARE</span> -->
            </span>
        </ng-template>
        <ng-template #item let-item>
            <a pRipple class="padding-force flex items-center p-menu-item-link mb-2 h-[52px]" [routerLink]="item.routerLink" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <span [class]="item.icon"></span>
                <span class="ml-2">{{ item.label }}</span>
            </a>
        </ng-template>
    </p-menu>
</div>