<div class="card flex pb-2 mt-20">
    <div class="p-2">
        <div class="flex justify-center">
            <p-button icon="fa-solid fa-1" [rounded]="true" severity="secondary" size="large"></p-button>
          </div>
        <h1 class="text-3xl sm:text-5xl md:text-4xl font-extrabold text-balance text-center mt-6">Book A Demo</h1>
        <p class="mt-6 text-center">Get started by scheduling a personalized demo with our team. We'll walk you through the platform and show you how UCNIACARE can streamline your clinic operations.</p>
    </div>
    <p-divider layout="vertical" />
    <div class="p-2">
        <div class="flex justify-center">
            <p-button icon="fa-solid fa-2" [rounded]="true" severity="secondary" size="large" />
          </div>
        <h1 class="text-3xl sm:text-5xl md:text-4xl font-extrabold text-balance text-center mt-6">Customize</h1>
        <p class="mt-6 text-center">Tailor the system to fit your specific school clinic workflows. From scheduling to health records, we'll help you adapt UCNIACARE to your unique requirements.</p>
    </div>
    <p-divider layout="vertical" />
    <div class="p-2">
        <div class="flex justify-center">
            <p-button icon="fa-solid fa-3" [rounded]="true" severity="secondary" size="large" />
          </div>
        <h1 class="text-3xl sm:text-5xl md:text-4xl font-extrabold text-balance text-center mt-6">Scale</h1>
        <p class="mt-6 text-center">Once you're all set, go live with confidence. Our team ensures a smooth setup and onboarding process so you can start managing and monitoring your clinic efficiently.</p>
    </div>
</div>