<div class="card flex w-full pr-20 pl-20 mt-20">
    <!-- Section 1 -->
    <div class="flex-1 flex flex-col items-start space-y-2">
      <h1 class="text-3xl sm:text-5xl md:text-2xl font-extrabold text-balance">Pricing</h1>
      <p>About Us</p>
      <p>Compare Us</p>
      <p>Contact Us</p>
    </div>
  
    <!-- Section 2 -->
    <div class="flex-1 flex flex-col items-start space-y-2">
      <h1 class="text-3xl sm:text-5xl md:text-2xl font-extrabold text-balance">Services</h1>
      <p>Web</p>
      <p>Mobile</p>
    </div>
  
    <!-- Section 3 -->
    <div class="flex-1 flex flex-col items-start space-y-2">
      <h1 class="text-3xl sm:text-5xl md:text-2xl font-extrabold text-balance">Features</h1>
      <p>Clinic Management</p>
      <p>Scheduling</p>
      <p>Analytics</p>
      <p>Inventory</p>
      <p>Feedback</p>
    </div>
  
    <!-- Section 4 -->
    <div class="flex-1 flex flex-col items-start space-y-2">
      <h1 class="text-3xl sm:text-5xl md:text-2xl font-extrabold text-balance">Terms & Policies</h1>
      <p>Cookies</p>
      <p>Privacy</p>
      <p>SLA</p>
      <p>Terms</p>
    </div>
  
    <!-- Section 5 -->
    <div class="flex-2 flex flex-col items-start space-y-2">
      <h1 class="text-3xl sm:text-5xl md:text-2xl font-extrabold text-balance">Help</h1>
      <p>Help Center</p>
      <p>System Requirements</p>
      <p>Security</p>
    </div>
  </div>
  