<div class="card flex pr-20 pl-20 mt-20">
    <div class="left-main-content">
        <h1 class="text-3xl sm:text-5xl md:text-6xl font-extrabold text-balance">Powering Clinics with Precision and Care</h1>
        <p class="mt-8">A cloud-based clinic management and monitoring system. It streamlines essential tasks like patient records, appointment scheduling, and health monitoring—ensuring fast, accurate, and compassionate care for students and staff alike. Designed for efficiency, built for care.</p>
        <div class="mt-8">
            <p-button label="BOOK A DEMO" severity="info" icon="fa-solid fa-arrow-right" iconPos="right" />
            <p-button label="BUY NOW" variant="outlined" severity="info" class="ml-4"/>
        </div>

    </div>
    <p-divider layout="vertical" />
    <div class="right-main-content">

    </div>
    <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
        voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.
    </p>
</div>

<div class="card pr-20 pl-20 mt-20">
    <h1 class="text-3xl sm:text-5xl md:text-4xl font-extrabold text-balance text-center">How Does This Work?</h1>
    <how-does-this-work></how-does-this-work>
</div>

<div class="card pr-20 pl-20 mt-20 mb-10">
    <h1 class="text-3xl sm:text-5xl md:text-4xl font-extrabold text-balance text-center">Why UcniaCare?</h1>
    <features></features>
</div>

<div class="card pr-20 pl-20 mt-20 mb-10">
    <h1 class="text-3xl sm:text-5xl md:text-4xl font-extrabold text-balance text-center">The Team</h1>
    <team></team>
</div>

<div>
    <get-started></get-started>
</div>