<div class="card flex">
    <h1>Powering Clinics with Precision and Care</h1>
    <p>
        A cloud-based clinic management and monitoring system. It streamlines essential tasks like patient records, appointment scheduling, and health monitoring—ensuring fast, accurate, and compassionate care for students and staff alike. Designed for efficiency, built for care.
    </p>
    <p-divider layout="vertical" />
    <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
        voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.
    </p>
</div>