<div class="flex items-center justify-center min-h-screen">

    <p-card>
        
        <div class="w-[360px] mx-auto mb-10">
            <div class="flex justify-center">
                <img src="./ucniacare/assets/logos/ucniacare_logo_blue_transparent.png" alt="UCNIACARE" class="w-48 h-48">
            </div>
            <h1 class="text-2xl sm:text-1xl md:text-1xl text-balance text-center mb-6">Change Password</h1>
            <p class="text-center mb-6 text-gray-600"></p>

            <p-floatlabel variant="on">
                <p-password [(ngModel)]="password" inputId="on_label" class="w-full" [toggleMask]="true" [feedback]="false" fluid/>
                <label for="password">Password</label>
            </p-floatlabel>

            <p-floatlabel variant="on" class="mt-4">
                <p-password [(ngModel)]="confirmPassword" inputId="on_label" class="w-full" [toggleMask]="true" [feedback]="false" fluid/>
                <label for="confirmPassword">Confirm Password</label>
            </p-floatlabel>

            <div class="mt-4">
                <p-button (click)="onChangePassword()" label="Submit" severity="info"
                    class="w-full max-w-[17.35rem]" styleClass="w-full mx-auto"
                    [disabled]="disableChangePasswordButton()"
                    />
            </div>
            <div class="mt-2 flex justify-center">
                <p-button label="Back to Login" routerLink="/login" link />
            </div>
    </div>
    </p-card>
</div>