<div class="card flex pr-20 justify-center pl-20 mt-20">
    <div class="flex flex-col gap-4 text-center ">
      <div class="text-2xl sm:text-3xl font-bold mb-4">ABOUT US</div>
        <p class="text-3xl sm:text-5xl md:text-6xl font-extrabold text-balance mb-4 ">
            Revolutionizing Digital Healthcare </p>
      <p class="text-3xl sm:text-5xl md:text-6xl font-extrabold text-balance mb-4">Across Campuses</p>
      <p class="text-lg sm:text-xl text-balance">
        UcniaCare is a cloud-based clinic management and monitoring system. 
        It streamlines essential tasks like patient records, appointment scheduling, 
        and health monitoring—ensuring fast, accurate, and compassionate care for students and staff alike. 
        Designed for efficiency, built for care.
      </p>
      <div class="bg-cover bg-center w-full h-80 sm:h-96 rounded-lg shadow-lg" [style.background-image]="'url(' + backgroundImage() + ')'"></div>
    </div>
</div>
<mission-vision></mission-vision>
