<div class="p-8">
    <div class="flex justify-between">
        <h1 class="text-3xl sm:text-5xl md:text-2xl font-bold text-balance text-gray-700">Welcome back, Clifford!</h1>
        <p-button label="Add Appointment" severity="primary" icon="fa-solid fa-calendar-plus" iconPos="left" />
    </div>
    <div class="flex gap-4">
        <basic-data-card *ngFor="let card of basicDataCards()" [basicDataCard]="card"></basic-data-card>
        
    </div>
    <div class="flex gap-4 mt-4">
        <vital-signs-card *ngFor="let card of vitalSignsCards()" [basicDataCard]="card"></vital-signs-card>
    </div>

    <h1 (click)="test()">TEST TEST</h1>

    <button (click)="addUser()">Add User</button>
    <p-fileupload mode="basic" name="demo[]" chooseIcon="pi pi-upload" accept="image/*" maxFileSize="1000000" [customUpload]="true" (onSelect)="onBasicUploadAuto($event)" [auto]="false" chooseLabel="Browse" [disabled]="uploadedFiles.length === 1" />
    <p-button (click)="saveImage()">Save Image</p-button>
    <div class="flex flex-wrap gap-4 mt-4">
        <div *ngFor="let img of uploadedImages">
          <img [src]="img" alt="preview" class="w-32 h-32 object-cover rounded shadow" />
        </div>
      </div>

      <p-button (click)="send()">Send Email</p-button>

    
</div>