/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --p-info-color: #3B82F6;
  /* Tailwind blue-500 */
  --p-info-color-text: #ffffff;
  /* readable text on blue */
}

:host ::ng-deep .p-confirm-dialog .p-dialog-footer {
  justify-content: center !important;
}