<p-card [styleClass]="cardClass">
    <div class="ml-2">
        <div class="flex items-center gap-6">
            <div class="w-[48px] h-[48px] rounded-md flex items-center justify-center" [style]="iconClass">
                <i class="{{icon}}"></i>
            </div>
    
            <div>
                 <h1 class="{{titleClass}}">{{titleText}}</h1>
                <h1 class="{{subTitleClass}}">{{subTitleText}}</h1>
               
            </div>
            
        </div>
        <div class="mt-2">
            <p class="{{dataClass}}">{{dataText}}</p>
        </div>
    </div>
</p-card>