<div class="flex justify-center mb-4 mt-20 gap-4">
        
	<p-card class="w-96">
	    <i class="fa-solid fa-robot text-4xl flex justify-center mt-2" severity="info"></i>
	    <h1 class="text-3xl sm:text-5xl md:text-3xl font-extrabold text-balance text-center mt-2">AI Integrated Tools</h1>
	    <p class="m-0 text-center mt-6 pb-2">
			With AI-powered scheduling and smart features, UCNIACARE ensures faster, more accurate, and efficient clinic operations, reducing waiting times and improving the overall healthcare experience.h
	    </p>
	</p-card>
	<p-card class="w-96">
	    <i class="fa-solid fa-cloud-arrow-up text-4xl flex justify-center mt-2"></i>
	    <h1 class="text-3xl sm:text-5xl md:text-3xl font-extrabold text-balance text-center mt-2">Cloud Based System</h1>
	    <p class="m-0 text-center mt-6 pb-2">
			Being cloud-based, UCNIACARE is accessible anytime, anywhere, ensuring data security, reliability, and seamless access across devices.
	    </p>
	</p-card>
	<p-card class="w-96">
	    <i class="fa-solid fa-lock text-4xl flex justify-center mt-2"></i>
	    <h1 class="text-3xl sm:text-5xl md:text-3xl font-extrabold text-balance text-center mt-2">Data Security</h1>
	    <p class="m-0 text-center mt-6 pb-2">
			UCNIACARE prioritizes confidentiality by safeguarding student and staff health records with strict data protection measures, secure storage, and controlled access.
	    </p>
	</p-card>
 </div>
 <div class="flex justify-center gap-4">
	
	<p-card class="w-96">
	    <i class="fa-solid fa-universal-access text-4xl flex justify-center mt-2"></i>
	    <h1 class="text-3xl sm:text-5xl md:text-3xl font-extrabold text-balance text-center mt-2">User Friendly</h1>
	    <p class="m-0 text-center mt-6 pb-2">
			UCNIACARE is user-friendly with a simple, intuitive design that makes booking appointments and checking doctor availability easy and accessible for everyone.
	    </p>
	</p-card>
	<p-card class="w-96">
	    <i class="fa-solid fa-heart text-4xl flex justify-center mt-2"></i>
	    <h1 class="text-3xl sm:text-5xl md:text-3xl font-extrabold text-balance text-center mt-2">Loved by People</h1>
	    <p class="m-0 text-center mt-6 pb-2">
			UCNIACARE is more than just software—it’s a cloud-based clinic management and monitoring system trusted and loved by students and staff. By streamlining patient records, appointment scheduling, and health monitoring, it delivers fast, accurate, and compassionate care. Designed for efficiency and built with care, UCNIACARE makes healthcare more accessible, reliable, and people-centered.
	    </p>
	</p-card>
 </div>