<div class="flex justify-center mb-4 mt-20 gap-4">
        
	<p-card class="w-96">
	    <i class="fa-solid fa-cloud-arrow-up text-4xl flex justify-center mt-2"></i>
	    <h1 class="text-3xl sm:text-5xl md:text-3xl font-extrabold text-balance text-center mt-2">Cloud Based System</h1>
	    <p class="m-0 text-center mt-6 pb-2">
			Being cloud-based, UCNIACARE is accessible anytime and anywhere, ensuring strong data security, high reliability, seamless access across multiple devices, and consistent healthcare performance.	    </p>
	</p-card>
	<p-card class="w-96">
	    <i class="fa-solid fa-lock text-4xl flex justify-center mt-2"></i>
	    <h1 class="text-3xl sm:text-5xl md:text-3xl font-extrabold text-balance text-center mt-2">Data Security</h1>
	    <p class="m-0 text-center mt-6 pb-2">
			UCNIACARE prioritizes confidentiality by safeguarding student and staff health records with strict data protection measures, secure encrypted storage, controlled access, continuous monitoring, and comprehensive standards.	</p-card>
 </div>
 <div class="flex justify-center gap-4">
	
	<p-card class="w-96">
	    <i class="fa-solid fa-universal-access text-4xl flex justify-center mt-2"></i>
	    <h1 class="text-3xl sm:text-5xl md:text-3xl font-extrabold text-balance text-center mt-2">User Friendly</h1>
	    <p class="m-0 text-center mt-6 pb-2">
			UCNIACARE is user-friendly, offering a simple and intuitive design that makes booking appointments, checking doctor availability, managing schedules, and accessing healthcare services easy for everyone.	    </p>
	</p-card>
	<p-card class="w-96">
	    <i class="fa-solid fa-heart text-4xl flex justify-center mt-2"></i>
	    <h1 class="text-3xl sm:text-5xl md:text-3xl font-extrabold text-balance text-center mt-2">Loved by People</h1>
	    <p class="m-0 text-center mt-6 pb-2">
			UCNIACARE is more than software—it’s a trusted, innovative cloud-based clinic management system that streamlines records, appointments, and health monitoring for students and staff.	</p-card>
 </div>